body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide img {
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.text-content {
  padding: 20px;
  width: 60%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 122, 255, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

p {
  margin: 10px 0;
}

.text-content p:first-child {
  color: #007aff;
  font-weight: bold;
}
